@{
    ViewBag.Title = "Home Page";
}
<table class="header-table" cellpadding="0" cellspacing="0">
    <tr valign="top">
        <td style="width: 244px">
            <img src="~/Images/Pirate.gif" />
        </td>
        <td style="width: 406px">
            <img src="~/Images/Title.jpg" />
            <div style="padding-left:12px; padding-top:19px">
                <p>
                    This site owes it's existence to nothing so much as whimsy.  As I said on the
                    Home Page, the whole thing kicked off when my nephew, Parker, introduced me to 
                    the stupid/brilliant world of pirate jokes.
                </p>
                <p>
                    Most folk would've had their laugh then moved on, but for some reason I couldn't
                    quite put it away. Instead, I began to share the pirate thing around, going so far 
                    as host a pirate-themed New Year's Brunch.
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                The crew of us came up with a bunch of new jokes, many of which I wrote down.  The 
                project didn't shift into high gear, though, until I had the dubious honor of driving a 
                fifteen foot truck with all of my worldly posessions from NYC to St. Louis. For the 
                uniformed, US-70W doesn't offer much in the way of scenery, so to keep myself occupied 
                during the trek I decided to write down as many pirate jokes as I could.
            </p>
            <p>
                This website is a compendium of some of those, although it's important to note that I
                could have never created such a thing without my husband's help.  
                <a href="http://squideyes.com">Louis</a> is a a tech whiz, but more to the point, the 
                man loves a bit of pirate whimsy, too.
            </p>
            <p>
                As to me, I've been a life-long artist, most natably a <a href="http://chiment.com/">Set 
                and Costume Designer</a>, so this sort of stuff is most definitely my cup of tea.
            </p>
            <p>
                Anyway, if you want to please me best, do share one or more of the jokes with your friend 
                and relatives; even better with any kids you know.  Also, if you have any pirate jokes of 
                your own, be sure to click <a href="Contribute">Contribute</a> to share them.  Enjoy...
            </p>
        </td>
    </tr>
</table>
