@{
    ViewBag.Title = "Home Page";
}
@using PagedList.Mvc;
@using PagedList;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<table class="header-table" cellpadding="0" cellspacing="0">
    <tr valign="top">
        <td style="width: 244px">
            <img src="~/Images/Pirate.gif" />
        </td>
        <td style="width: 406px">
            <img src="~/Images/Title.jpg" />
            <div style="padding-left:12px; padding-top:19px">
                <p>
                    While visiting my family at Christmas, my six year-old nephew, Parker, asked me
                    "<b>How does a pirate go on vacation?</b>"
                </p>
                <p>
                    I had no idea, of course, but I was delighted to learn he did so "<b>In an R-V!</b>"
                    Needless to say, we laughed ourselves silly, scowling like scurvy half-blind pirates while
                    stretching our "R-'s"in true pirate fashion. "Shiver me timbers, matey."  AARRRRRRGH!
                </p>
            </div>
        </td>
    </tr>
    <tr>        
        <td colspan="2">
            <p>
                The following compendium is quite simply more of the same, so do enjoy.  Also, if you have any 
                pirate jokes of your own, be sure to click <a href="Contribute">Contribute</a> to share them.
            </p>
            @foreach (var joke in ViewBag.OnePageOfJokes)
            {
                <hr />
                <p>
                    <b>Q:</b>&nbsp;@joke.Question<br />
                    <b>A:</b>&nbsp;@joke.Answer<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--&nbsp;By @joke.Author.Name, @joke.Author.Location&nbsp;--
                </p>
            }
            <div style="text-align:center">
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfJokes, page => Url.Action("Index", new { page }))
            </div>
        </td>
    </tr>
</table>
